.u-section-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 766px;
}

.u-section-1 .u-slider-1 {
  width: 599px;
  min-height: 638px;
  margin: 54px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  top: auto;
  bottom: 22px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/39657320724_00f0c2ffb5_o.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 71px;
  height: 71px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 71px;
  height: 71px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -584px -17px 0 653px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 37px auto 60px 653px;
  padding: 18px 82px 19px 81px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -638px;
    margin-right: -18px;
    margin-left: 618px;
  }

  .u-section-1 .u-btn-1 {
    margin: 67px 188px 45px auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 27px;
    margin-right: -18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1155px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 344px;
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-right: -20px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 23px;
    margin-bottom: 38px;
    padding-right: 17px;
    padding-left: 17px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 757px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 16px 0 0;
}

.u-section-2 .u-list-1 {
  width: 1038px;
  min-height: 468px;
  grid-template-rows: auto auto auto;
  height: auto;
  grid-auto-rows: 100%;
  margin: 65px auto 60px 20px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: calc(33.33% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 25px 0 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 16px 899px 0 20px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  background-image: none;
  margin: -80px 0 0 115px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 25px 0 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 16px 899px 0 20px;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  background-image: none;
  margin: -80px 0 0 115px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 25px 0 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 16px 899px 0 20px;
}

.u-section-2 .u-text-4 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  background-image: none;
  margin: -80px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 44px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-2 .u-icon-1 {
    margin-right: 810px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -64px;
    margin-right: 9px;
    margin-left: 120px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 810px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -64px;
    margin-right: 9px;
    margin-left: 120px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 810px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -64px;
    margin-right: 9px;
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -56px;
    margin-right: 10px;
    margin-left: 95px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -56px;
    margin-right: 10px;
    margin-left: 95px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -56px;
    margin-right: 10px;
    margin-left: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -64px;
    margin-right: -10px;
    margin-left: 110px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -64px;
    margin-right: -10px;
    margin-left: 110px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -64px;
    margin-right: -10px;
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-icon-1 {
    height: 30px;
    width: 30px;
    margin-top: 11px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -35px;
    margin-right: 11px;
    margin-left: 54px;
  }

  .u-section-2 .u-icon-2 {
    height: 30px;
    width: 30px;
    margin-top: 11px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -35px;
    margin-right: 11px;
    margin-left: 54px;
  }

  .u-section-2 .u-icon-3 {
    height: 30px;
    width: 30px;
    margin-top: 11px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -35px;
    margin-right: 11px;
    margin-left: 54px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 918px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 45px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 444px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px 30px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 48px;
  margin: -30px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 350px;
  background-image: url("images/nino-preadolescente-usa-computadora-portatil-hacer-videollamada-su-maestra_158595-7519.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-list-1 {
  width: 1080px;
  height: auto;
  min-height: 341px;
  margin: 21px auto 1px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 263px;
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 150px;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 13px -17px 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px 1px 0 18px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 150px;
}

.u-section-3 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 13px -17px 0;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px 1px 0 18px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 150px;
}

.u-section-3 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 13px -17px 0;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px 1px 0 18px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 150px;
}

.u-section-3 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 13px -17px 0;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px 1px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-right: -21px;
    margin-left: 21px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 289px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    min-height: 327px;
    margin-right: -21px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 229px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 221px;
  }

  .u-section-3 .u-list-1 {
    min-height: 476px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 476px;
    grid-auto-rows: calc(50% - 5px);
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 332px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1670px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 90px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin: -93px -10px -42px 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 194px;
  }

  .u-section-3 .u-list-1 {
    min-height: 774px;
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
    grid-auto-rows: calc(25% - 7.5px);
  }
}.u-section-4 .u-sheet-1 {
  min-height: 697px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 10px 114px 0 225px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 508px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0 260px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 31px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 104px auto 0;
  padding: 9px 72px 11px 71px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 508px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 400;
    margin-right: 14px;
    margin-left: 125px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 170px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 556px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 760px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 71px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 71px;
    margin-right: 0;
    margin-left: -26px;
    padding: 10px 17px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 26px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1004px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 704px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 115px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 19px 31px 0 -11px;
}

.u-section-5 .u-icon-1 {
  height: 109px;
  width: 134px;
  margin: 40px auto 0 91px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 702px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 680px;
  margin: -8px 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 42px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    height: 106px;
    width: 130px;
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    width: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 803px;
    margin-right: -82px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-icon-1 {
    height: 44px;
    width: 59px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 704px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 682px;
    margin-top: -19px;
    margin-right: 50px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 396px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 1px;
    margin-bottom: 34px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-right: 0;
    width: 320px;
  }
}